body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, Arial, sans-serif;
  background-color: #010100;
  color: #dbdfcf;
}

.content {
  min-width: 320px;
  max-width: 90%;
  margin: 0 auto 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__header {
  max-width: 80%;
  padding: 30px 0 0;
  margin: 0;
  font-weight: 500;
  font-size: clamp(1.31rem, calc(0.92rem + 1.98vw), 2.5rem);
  color: #00c54f;
}

.content__description {
  max-width: 80%;
  padding: 25px 0 35px;
  margin: 0;
  font-weight: 400;
  font-size: clamp(0.69rem, calc(0.54rem + 0.73vw), 1.13rem);
  position: relative;
}

.content__emphasis {
  font-weight: 500;
  color: #00c54f;
}

.tf-custom {
  max-width: 100%;
  overflow-x: scroll;
}

.tf-custom::-webkit-scrollbar {
  height: 8px;
}

.tf-custom::-webkit-scrollbar-thumb {
  background: #00c54f;
}

.tf-custom::-webkit-scrollbar-track {
  background: rgb(64, 63, 63);
}

.tf-custom .tf-nc {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.7em;
  width: 2.7em;
  border: 2px solid #00c54f;
  color: #dbdfcf;
  border-radius: 50%;
}

.tf-custom .tf-nc:before,
.tf-custom .tf-nc:after {
  border-left-color: #00c54f;
  border-left-width: 2px;
}

.tf-custom li li:before {
  border-top-color: #00c54f;
  border-top-width: 2px;
}

.active {
  background-color: #00c54f;
  opacity: 0.8;
}
